In [79]:
class Employee(object):
    taxRate = 0.3
    def __init__(self,id,name,dept,salary):
        self.id = id
        self.name = name
        self.dept = dept
        self.salary = salary
    def setId(self,id):
        self.id = id
    def setName(self,name):
        self.name = name
    def setDept(self,dept):
        self.dept = dept
    def setSalary(self,salary):
        self.salary = salary
    def printDetails(self):
        print(self.id)
        print(self.name)
        print(self.dept)
        print(self.salary)
    def printReport(self):
        self.printDetails()
        
        #computte tax 
        tax = self.salary * Employee.taxRate
        netSalary = self.salary - tax
    
        print("Tax:", tax)
        print("Net Salary:", netSalary)

In [43]:
emp1 = Employee(123,"hello","yeet",123)

In [44]:
emp1.setId(1231)
emp1.setSalary(999)

In [27]:
emp1.id
emp1.salary

999

In [88]:
empFile = open("employees.txt")

empFile.readline()

employees = []
for line in empFile:
    tokens = line.split(",")
    employee = Employee(tokens[0],tokens[1],tokens[2],int(tokens[3]))
    employees.append(employee)

for employee in employees:
    print(employee.printReport())

1
Bob
Computer Science
10000
Tax: 3000.0
Net Salary: 7000.0
None
2
Bob2
Computer Science
10000
Tax: 3000.0
Net Salary: 7000.0
None
3
Bob3
Computer Science
10000
Tax: 3000.0
Net Salary: 7000.0
None
4
Bob4
Computer Science
10000
Tax: 3000.0
Net Salary: 7000.0
None
5
Bob5
Computer Science
10000
Tax: 3000.0
Net Salary: 7000.0
None
6
Harry1
Science
100008
Tax: 30002.399999999998
Net Salary: 70005.6
None
7
Harry2
Science
100007
Tax: 30002.1
Net Salary: 70004.9
None
8
Harry3
Science
100005
Tax: 30001.5
Net Salary: 70003.5
None
9
Harry4
Science
100003
Tax: 30000.899999999998
Net Salary: 70002.1
None
10
Harr5
Science
100002
Tax: 30000.6
Net Salary: 70001.4
None
11
Mary
Science
100000
Tax: 30000.0
Net Salary: 70000.0
None

In [60]:
emp1 = Employee(123,"hello","yeet",123, 0.3)

In [61]:
emp1.printReport()

123
hello
yeet
123
Tax: 36.9
Net Salary: 86.1

In [99]:
class Employee(object):
    taxRate = 0.3
    def __init__(self,id,name,dept,salary):
        self.id = id
        self.name = name
        self.dept = dept
        self.salary = salary
    def setId(self,id):
        self.id = id
    def setName(self,name):
        self.name = name
    def setDept(self,dept):
        self.dept = dept
    def setSalary(self,salary):
        self.salary = salary
    def printDetails(self):
        print(self.id)
        print(self.name)
        print(self.dept)
        print(self.salary)
        
    def __str__(self):
        result = str(self.id) + "\n" + self.name + "\n" 
        return result
    def __int__(self):
        return self.id + self.id
        
        
        
    def printReport(self):
        self.printDetails()
        
        #computte tax 
        tax = self.salary * Employee.taxRate
        netSalary = self.salary - tax
    
        print("Tax:", tax)
        print("Net Salary:", netSalary)

In [101]:
emp1 = Employee(123,"hello","yeet",123)

In [112]:
import math

class circle(object):
    def __init__(self,area):
        
        self.area = area
    def __str__(self):
    
        radius = math.sqrt(self.area/math.pi)
        return(str(self.area) + "\n" + str(radius))
    def __add__(self,other):
        
        newCircle = circle(self.area + other.area)
        return newCircle

c1 = circle(math.pi

In [115]:
c1 = circle(math.pi)
c2 = circle(3)

print(c1 + c2)

6.141592653589793
1.398187991134015